

.caja1 {
    height: 100x;
    width: 100px;
    background: slateblue;
    transition: background 1s, width 0.5s, height 3s;
    text-align: center;
    border: 5px solid green;
}

.caja1:hover {
    background: blue;
    width: 200px;
    height: 200px;
    border: 5px dashed red;

}